#corpo{
  max-height: fit-content;
}
#intro{
  background-color: #28253E;
  height: 85vh;
}
#init{
  background-color:#DEB750;
}
.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 20%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: black; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: black; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  #header{
    background-color:#DEB750;
  }
  #dadospessoais{
    background-color: #28253E;
  
  }

  #cartao_avaliacao{
    background-color: #28253E;
  }
  #ag2{
    background-color: #28253E;
  }
  #ag3{
    background-color: #28253E;
  }
  #ag4{
    background-color: #28253E;
  }
  #ag5{
    background-color: #28253E;
  }
  #ag6{
    background-color: #28253E;
  }
  #ag7{
    background-color: #28253E;
  }
  #ag8{
    background-color: #28253E;
  }
  #ag9{
    background-color: #28253E;
  }
  #ag10{
    background-color: #28253E;
  }